<div *ngIf="status === 'idle'">
    <mat-form-field appearance="fill" style="width: 200px">
        <mat-label>Channel-Id</mat-label>
        <input matInput [(ngModel)]="channelId" />
    </mat-form-field>

    <mat-slide-toggle
        style="margin-left: 20px"
        color="secondary"
        [(ngModel)]="forceLeader"
    >
        Force Leader (Advanced)
    </mat-slide-toggle>
    <br />
    <button
        mat-flat-button
        (click)="start()"
        color="primary"
        style="margin-left: 3px"
    >
        Start
    </button>
    <br />
</div>
<div *ngIf="status === 'started'">
    <h1>
        {{ pusherService.type$ | async }}
        <span class="text-muted">on channel {{ channelId }}</span>
    </h1>
    Members on this channel: {{ pusherService.numberOfMembers$ | async }} <br />
</div>
<br />
<div *ngIf="(pusherService.type$ | async) === 'Leader'">
    <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Video-Id</mat-label>
        <input
            matInput
            [(ngModel)]="newVideoSettings.videoId"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option
                *ngFor="let videoId of recommendedVideoIds"
                [value]="videoId"
            >
                {{ videoId }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br />
    Volume:
    <mat-slider
        max="100"
        min="0"
        step="1"
        thumbLabel="true"
        tickInterval="auto"
        [(ngModel)]="newVideoSettings.volume"
    >
    </mat-slider>
    <br />
    <button
        mat-flat-button
        (click)="setVideoSettings()"
        color="primary"
        style="margin-left: 3px"
    >
        Adapt Settings
    </button>
</div>
<div *ngIf="(pusherService.type$ | async) === 'Follower'">
    System time offset: {{ systemTimeOffset }}ms
    <button
        mat-flat-button
        (click)="syncTime()"
        color="secondary"
        style="margin-left: 3px"
    >
        Synchronize
        <mat-spinner *ngIf="syncingTime" color="secondary"></mat-spinner>
    </button>
</div>
<mat-spinner *ngIf="status === 'starting'"></mat-spinner>
<div *ngIf="status === 'started'">
    <br />
    <ng-container *ngIf="systemTimeOffset !== undefined">
        <app-production-player
            *ngIf="pusherService.videoSettings$ | async as videoSettings"
            [videoSettings]="videoSettings"
            [systemTimeOffset]="systemTimeOffset"
        ></app-production-player>
    </ng-container>
</div>
