<div *ngIf="status === 'idle'">
    <mat-form-field appearance="fill" style="width: 200px">
        <mat-label>Channel-Id</mat-label>
        <input matInput [(ngModel)]="channelId" />
    </mat-form-field>

    <mat-slide-toggle
        style="margin-left: 20px"
        color="secondary"
        [(ngModel)]="forceLeader"
    >
        Force Leader (Advanced)
    </mat-slide-toggle>
    <br />
    <button
        mat-flat-button
        (click)="start()"
        color="primary"
        style="margin-left: 3px"
    >
        Start
    </button>
    <br />
</div>

<div *ngIf="status === 'started'">
    <h1>
        {{ pusherService.type$ | async }}
        <span class="text-muted">on channel {{ channelId }}</span>
    </h1>
    Members on this channel: {{ pusherService.numberOfMembers$ | async }} <br />
</div>

<br />

<div *ngIf="(pusherService.type$ | async) === 'Leader'">
    <app-video-settings-form
        *ngIf="pusherService.videoSettings$ | async as videoSettings"
        [videoSettings]="videoSettings"
        (videoSettingsChange)="setVideoSettings($event)"
    ></app-video-settings-form>
</div>

<div *ngIf="(pusherService.type$ | async) === 'Follower'">
    System time offset: {{ systemTimeOffset }}ms
    <button
        mat-flat-button
        (click)="syncTime()"
        color="secondary"
        style="margin-left: 3px"
    >
        Synchronize
        <mat-spinner *ngIf="syncingTime" color="secondary"></mat-spinner>
    </button>
</div>
<mat-spinner *ngIf="status === 'starting'"></mat-spinner>
<div *ngIf="status === 'started'">
    <br />
    <ng-container *ngIf="systemTimeOffset !== undefined">
        <app-production-player
            *ngIf="pusherService.videoSettings$ | async as videoSettings"
            [videoSettings]="videoSettings"
            [systemTimeOffset]="systemTimeOffset"
        ></app-production-player>
    </ng-container>
</div>
