<h1>About</h1>
<video
    controls
    src="assets/gandalf-video.webm"
    width="100%"
    style="max-height: 80vh"
>
    Your browser does not support the video tag.
</video>
<video
    controls
    src="assets/techno-union-video.webm"
    width="100%"
    style="max-height: 80vh"
>
    Your browser does not support the video tag.
</video>
<video
    controls
    src="assets/test-video.webm"
    width="100%"
    style="max-height: 80vh"
>
    Your browser does not support the video tag.
</video>
