<img
    style="max-height: 1.5rem"
    [src]="
        'http://img.youtube.com/vi/' + videoSettings.videoId + '/sddefault.jpg'
    "
/>
<mat-form-field appearance="fill" style="width: 250px">
    <mat-label>Video-Id</mat-label>
    <input
        matInput
        [ngModel]="videoSettings.videoId"
        (ngModelChange)="setVideoSettings({ videoId: $event })"
        [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option
            *ngFor="let videoId of recommendedVideoIds"
            [value]="videoId"
        >
            <img
                style="max-height: 1.5rem"
                [src]="
                    'http://img.youtube.com/vi/' + videoId + '/sddefault.jpg'
                "
            />

            {{ videoId }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<br />
Volume:
<mat-slider
    max="100"
    min="0"
    step="1"
    thumbLabel="true"
    tickInterval="auto"
    [ngModel]="videoSettings.volume"
    (ngModelChange)="setVideoSettings({ volume: $event })"
>
</mat-slider>
