<mat-toolbar>
    <span>Synchronized Sax Gandalf</span>
    <span style="flex: 1 1 auto"></span>
    <a
        mat-icon-button
        class="btn btn-link"
        href="https://github.com/Dassderdie/synchronized-sax-gandalf"
    >
        <img style="max-height: 2rem" src="assets/GitHub_Logo_White.png" />
    </a>
</mat-toolbar>

<br />
<br />
<div class="container">
    <br />
    <app-channel></app-channel>

    <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Demo </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="row">
                <ng-container *ngFor="let i of [0, 1, 0, 0]">
                    <div
                        class="col"
                        style="position: relative; padding-top: 28%"
                    >
                        <iframe
                            [src]="demoUrl"
                            style="
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            "
                        ></iframe>
                    </div>
                    <div *ngIf="i === 1" class="w-100"></div>
                </ng-container>
            </div>
        </ng-template>
    </mat-expansion-panel> -->
</div>
