<div>
    <button
        mat-flat-button
        (click)="isPaused = !isPaused"
        color="primary"
        style="margin-left: 3px"
    >
        {{ isPaused ? 'Play' : 'Pause' }}
    </button>
    <button
        *ngIf="!isPaused"
        mat-flat-button
        (click)="isFullscreen$.next()"
        color="primary"
        style="margin-left: 3px"
    >
        Fullscreen
    </button>
</div>

<app-youtube-player
    [videoSettings]="videoSettings"
    [isPaused]="isPaused"
    [isFullscreen$]="isFullscreen$"
    [synchronizedPlayerConfig]="config"
></app-youtube-player>
