<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <iframe [src]="demoUrl" style="width: 100%; height: 100%"></iframe>
    </mat-grid-tile>
    <mat-grid-tile>
        <iframe [src]="demoUrl" style="width: 100%; height: 100%"></iframe>
    </mat-grid-tile>
    <mat-grid-tile>
        <iframe [src]="demoUrl" style="width: 100%; height: 100%"></iframe>
    </mat-grid-tile>
    <mat-grid-tile>
        <iframe [src]="demoUrl" style="width: 100%; height: 100%"></iframe>
    </mat-grid-tile>
</mat-grid-list>
