<app-show-more defaultHeight="100px">
    <ng-container *ngIf="message.config.body">
        {{ message.config.body }}
    </ng-container>
    <button
        *ngIf="message.config.btn"
        [class]="'btn btn-sm ms-2 btn-' + message.config.btn.color"
        (click)="message.eventE$.next('click')"
    >
        {{ message.config.btn.key }}
    </button>
    <div *ngIf="message.config.log && message.config.body" class="mt-3"></div>
    <pre
        *ngIf="message.config.log"
        class="m-0"
        style="white-space: pre-wrap; max-height: 300px"
    ><code>{{ message.config.log | logToString }}</code>
    </pre>
</app-show-more>
